<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Providers <small>#index</small></h1>
  </section>
<% end %>

<section class="content invoice">
  <% @provider.each do |a| %>
    <div>
      <%= a.provider_name %>
    </div>
     <div>
       <%= a.city.city_name %>
     </div>
     <div>
        <%= a.provider_rut %>
     </div>
     <div>
        <%= a.provider_tel %>
     </div>
      <div>
        <%= a.provider_email %>
      </div>
      <div>
        <%= a.city.city_name %>
      </div>
      <div>
        <%= a.provider_address %>
      </div>
      <div>
        <%= a.city.region.region_name %>
      </div>

  <%end%>
</section>