<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Providers <small>#new</small></h1>
  </section>
<% end %>
<section class="content invoice">
  <%= form_for(@provider) do |f| %>
		<div>
			<%= f.label "Ingrese nombre del proveedor" %>
			<%= f.text_field :provider_name %>
		</div>
		<div>
			<%= f.label "Ingrese rut de proveedor" %>
			<%= f.text_field :provider_rut %>
		</div>
		<div>
			<%= f.label "Ingrese clave de proveedor" %>
			<%= f.text_field :provider_address %>
		</div>
		<div>
			<%= f.label "Ingrese telefono de proveedor" %>
			<%= f.text_field :provider_tel %>
		</div>
		<div>
			<%= f.label "Ingrese email de proveedor" %>
			<%= f.text_field :provider_email %>
		</div>
		<div>
		  <%= f.collection_select(:city_id, City.all, :id, :city_name, include_blank: true) %>
		</div>
      <div>
        <%= f.collection_select(:city_id, Region.all, :id, :region_name, include_blank: true) %>
      </div>
		<div>
			<%= f.submit "Agregar" %>
		</div>
<%end%>
</section>