<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Users <small>#new</small></h1>
  </section>
<% end %>

<section class="content invoice">
<%= form_for(@user) do |f| %>
		<div>
			<%= f.label "Ingrese nombre de usuario" %>
			<%= f.text_field :user_name %>
		</div>
		<div>
			<%= f.label "Ingrese rut de usuario" %>
			<%= f.text_field :user_rut %>
		</div>
		<div>
			<%= f.label "Ingrese clave de usuario" %>
			<%= f.text_field :user_pass %>
		</div>
		<div>
			<%= f.label "Ingrese telefono de usuario" %>
			<%= f.text_field :user_tel %>
		</div>
		<div>
			<%= f.label "Ingrese email de usuario" %>
			<%= f.text_field :user_email %>
		</div>
		<div>
			<%= f.label "Ingrese state de usuario" %>
			<%= f.text_field :user_state %>
		</div>
		<div>
			<%= f.submit "Agregar" %>
		</div>
<%end%>
</section>