<%= render 'form2' %>
<table id="cities" class="display">
    <thead>
    <tr>
      <th>Nombre Producto</th>
      <th>Nombre Marca</th>
      <th>Nombre categoria</th>    
      <th>Precio Producto(unitario)</th>
      <th>Cantidad</th>
      <th>Subtotal</th>
      <th>Stock Producto</th>
      <th>Editar Producto </th>
      <th></th>
    </tr>
    </thead>
    <tbody>

        <% @purchases.each do |products| %>
        <% if products.product_state == 1 %>
          <tr>
                <td><%= link_to(products.product_name, products) %> </td>
                <td><%= products.brand.brand_name %></td>
                <td><%= products.category.category_name %></td>
                <td>
                        <% @prices1.each do |price| %>
                            <% if products.id == price.product_id %>

                              <%= price.actual_price %>
                            <%end%>
                        <%end%>
                 </td> 
              <%= form_for @ordenes do |f| %> 
                <td> <%= f.text_field :purchase_price %></td>
                <td> <%= f.text_field :purchase_quantity %></td>
                <% asd = Stock.find_by(product_id: products.id) %>
                <td> <%= asd.actual_stock %></td>
                <%end%>
                  <td>
                    <%= link_to 'Editar', edit_product_path(products) %>
                  </td>
                  <td> <%= check_box_tag 'asd' %></td>
          </tr>
        <%end%>
      <%end%>
    </tbody>
  </table>