<%= render 'form'%>

<section class="content invoice">
  <%= form_for(@brand) do |f| %>
      <% @brand.errors.full_messages.each do |message| %>
          <div>
            * <%= message %>
          </div>
      <%end%>
      <table class="form">
        <tr>
          <td>
            <%= f.label "Ingrese nombre de la Marca" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.text_field :brand_name %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.submit "Guardar" %>
          </td>

        </tr>
      </table>
  <%end%>
</section>