<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Regions <small>#new</small></h1>
  </section>
<% end %>

<section class="content invoice">
    <%= form_for(@region) do |f| %>
      <% @region.errors.full_messages.each do |message| %>
        <div>
          * <%= message %>
        </div>
      <%end%>
  	   <table class="form">
  	    <tr>
  	    	<td>
  	   			<%= f.label "Ingrese nombre de Region" %>
  	   		</td>
  	    </tr>
  	   	<tr>
  	   		<td>
  	   			<%= f.text_field :region_name %>
  	   		</td>
  	   	</tr>
  	   	<tr>
  	   		<td>
  	   			<%= f.submit "Guardar" %>
  	   		</td>
  	   		
  	   	</tr>
   	   </table>
  	<%end%>
</section>