<header class="header">
  <a href="#" class="logo">
    <!-- Add the class icon to your logo image or logo icon to add the margining -->
    AdminLTE
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><% if user_signed_in? %>
                 <%= link_to "Desconectarse", destroy_user_session_path, method: :delete %>
              <%else%>
                <%= link_to "Ingrese a su cuenta", new_user_session_path %>
             <%end%>
        </li>
        <li><a> <% if user_signed_in? %>
                  <span><%= current_user.email%><i class="caret"></i></span>
                <%end%>
            </a>
        </li>
        <% if current_user.user_range == 0 %>
          <li>
            <%= link_to "Agregar Ciudad", new_city_path %>
          </li>
          <li>
            <%= link_to "Agregar Region", new_region_path %>
          </li>
          <li>
            <%= link_to "Agregar Usuario", new_user_path %>
          </li>
          <li>

          </li>
         <%end%>
      </ul>
    </div>
  </nav>
</header>